<div id="add-form-container" class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">digite o id da vaga a ser removida</h1>
    </div>
    <div id="form-box" class="col-md-12">
      <form action="/jobs/remove/" method="post">
        <div class="form-group">
            <label for="title">ID da vaga:</label>
            <input type="text" class="form-control" id="idVaga" name="idVaga" placeholder="id da vaga">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>
</div>


<form action="/jobs/add" method="POST">
            <div class="form-group">
                <label for="title">ID da vaga:</label>
                <input type="text" class="form-control" id="idvaga" name="idvaga" placeholder="id da vaga">
            </div>
           
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>